<!DOCTYPE html>
<html lang="es">
<head th:replace="~{fragments/header}" />
<body>

	<nav th:replace="~{fragments/navbar}" />
	
	<section style="background-color:#668bc5; height:20vh"></section>
	
	<nav class="mt-5 navbar perfilNavbar navbar-expand-lg navbar-light">
	    <ul class="navbar-nav mx-auto" style="display: flex; justify-content: center;">
	        <li class="nav-item mr-md-4">
	            <a style="text-align: center; width: 15rem; border: solid 1px rgba(0,0,0,.125);" class="p-4 nav-link" href="/publicados">Productos publicados</a>
	        </li>
	        <li class="nav-item ml-md-4">
	            <a style="text-align: center; width: 15rem; border: solid 1px rgba(0,0,0,.125);" class="p-4 nav-link" href="/adquiridos">Productos adquiridos</a>
	        </li>
	        <li class="nav-item ml-md-4">
	            <a style="text-align: center; width: 15rem; border: solid 1px rgba(0,0,0,.125);" class="p-4 nav-link" href="/donados">Productos donados</a>
	        </li>
	        <li class="nav-item ml-md-4">
	            <a style="text-align: center; width: 15rem; border: solid 1px rgba(0,0,0,.125);" class="p-4 nav-link" href="/solicitudes">
				    Solicitudes de donación
				    <span th:if="${notificaciones gt 0}" th:text="${'(' + notificaciones + ')'}" style="color: red;"></span>
				</a>
	        </li>
	    </ul>
	</nav>

	
	<div class="error-div" th:if=${param.error}>
    	La imagen es demasiado grande (3MB máximo)
    </div>
    <div class="error-div" th:if=${param.error}>
    	La imagen es demasiado grande (3MB máximo)
    </div>
    <div class="error-div" th:if=${param.errorEmailInvalido}>
    	El formato del email no es válido
    </div>
    <div class="error-div" th:if=${param.errorEmailUsado}>
    	El email introducido ya está en uso
    </div>
    <div class="error-div" th:if=${param.descripcionCorta}>
    	La descripcion debe ser mayor de 5 caracteres
    </div>
    <div class="error-div" th:if=${param.descripcionLarga}>
    	La descripcion debe ser menor de 100 caracteres
    </div>
    <div class="container miTarjetaProducto mt-4">
        <div class="card">
             <form method="post" th:action="@{/subirFoto}" enctype="multipart/form-data" class="inputFile_perfil ocultar_mostrar d-none">
			    <label>
			        <input type="file" name="foto" />
			    </label>
			    <button class="custom-button" type="submit" onclick="ocultarBotones()">Cambiar imagen</button>
			</form>
            <img th:if="${foto}" style="object-fit: cover; height: 40vh; width:70%; margin-top: 2vh; border-radius: 60vh; align-self: center;" class="card-img-top" th:src="'data:image/jpeg;base64,' + ${foto}" alt="Foto de perfil" />
            <div class="card-body">
                <h4 class="card-title">Usuario: <b th:text="${username}"></b></h4>
                <h5 class="card-title">Email: <b th:text="${email}"></b> 
                	<a th:if="${emailVisible}" href="/ocultarMostrarEmail" class="btn custom-button" style="display:inline;margin-top: 1rem;display: block;">
	                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="" class="bi bi-eye" viewBox="0 0 16 16">
						  <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"></path>
						  <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"></path>
						</svg><span> Hacer email privado</span>
					</a>
					<a th:if="${!emailVisible}" href="/ocultarMostrarEmail" class="btn custom-button" style="display:inline;margin-top: 1rem;display: block;">
	                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash" viewBox="0 0 16 16">
						  <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7 7 0 0 0-2.79.588l.77.771A6 6 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755q-.247.248-.517.486z"/>
						  <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829"/>
						  <path d="M3.35 5.47q-.27.24-.518.487A13 13 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7 7 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12z"/>
						</svg><span> Hacer email público</span>
					</a>
                </h5>
                <p class="card-text" th:text="${descripcion}" ></p>
                <form method="post" th:action="@{/cambiarDescripcion}" class="mb-4 ocultar_mostrar d-none">
				    <label>
				        <input type="text" name="descripcion" />
				    </label>
				    <button class="custom-button" type="submit" onclick="ocultarBotones()">Cambiar descripcion</button>
				</form>
                <a onclick="mostrarBotones()" class="btn custom-button editar-btn">Editar</a>
                <a onclick="ocultarBotones()" class="btn custom-button ocultar_mostrar d-none">Cancelar edición</a>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmModal">Borrar cuenta</button>
            </div>
        </div>
    </div>

	<!-- Modal de confirmación -->
		<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true" style="margin-top: 10rem;">
		    <div class="modal-dialog" style="margin-top: 5%;" role="document">
		        <div class="modal-content">
		            <div class="modal-header">
		                <h5 class="modal-title" id="confirmModalLabel">¿Seguro que deseas eliminar tu cuenta?</h5>
		                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		                    <span aria-hidden="true">&times;</span>
		                </button>
		            </div>
		            <div class="modal-body">
		                Esta acción no se puede deshacer. ¿Estás seguro de que deseas eliminar tu cuenta?
		            </div>
		            <div class="modal-footer">
		                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
		                <a href="/eliminarCuenta" class="btn btn-danger">Eliminar cuenta</a>
		            </div>
		        </div>
		    </div>
		</div>
    <hr>
	
    <nav th:replace="~{fragments/footer}" />
    
    <script>
    	function mostrarBotones() {
		    var elementos = document.querySelectorAll(".ocultar_mostrar");
		    var editar = document.querySelector(".editar-btn");
		    editar.classList.add("d-none")
		    for (var i = 0; i < elementos.length; i++) {
		        elementos[i].classList.remove("d-none");
		    }
		}
		
		function ocultarBotones() {
		    var elementos = document.querySelectorAll(".ocultar_mostrar");
		    var editar = document.querySelector(".editar-btn");
		    editar.classList.remove("d-none")
		    for (var i = 0; i < elementos.length; i++) {
		        elementos[i].classList.add("d-none");
		    }
}

    </script>

</body>
</html>