	.navbar-nav a:hover {
	    color: #333;
	}
	
	.navbar a {
	    font-weight: 600;
	}
	
	body {
	    overflow-x: hidden;
	}
	
	.miNavbar {
	    position: fixed;
	    z-index: 10000;
	    width: 100%;
	    border: solid 1px rgba(0,0,0,.125);
	}
	
	footer {
	    background-color: #333;
	    padding: 20px 0;
	    color: #fff;
	    text-align: center;
	}
	
	.footer-links a {
	    color: rgba(0,0,0,.5);
	    text-decoration: none;
	    margin: 0 10px;
	    transition: color 0.3s;
	}
	
	.footer-links a:hover {
	    color: #333;
	}
	
	.copy {
	    color: rgba(0,0,0,.9);
	}
	
	.miImg {
	    max-height: 60vh;
	    object-fit: cover;
	}
	
	.miImg2 {
	    height: 30vh;
	    object-fit: cover;
	}
	
	.quienes-somos, .que-hacemos {
	    padding: 50px 0;
	    text-align: center;
	}
	
	.quienes-somos h2, .que-hacemos h2 {
	    font-size: 24px;
	    margin-bottom: 20px;
	}
	
	.quienes-somos p, .que-hacemos p {
	    font-size: 18px;
	    margin-bottom: 30px;
	}
	
	.icon {
	    height: 20vh;
	    width: 20vh;
	    margin-top: 2vh;
	}
	
	.card {
	    background-color: #f8f8f8;
	}
	
	.custom-section {
	    background-color: #fff;
	    padding: 40px;
	    border-radius: 10px;
	    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	}
	
	.custom-title {
	    color: #333;
	    font-size: 28px;
	}
	
	.custom-subtitle {
	    color: #666;
	    font-size: 18px;
	}
	
	.custom-button, .custom-button-1 {
	    background-color: #f8f8f8;
	    color: #333;
	    border: solid 1px rgba(0,0,0,.125);
	    border-radius: 5px;
	    padding: 10px 20px;
	    font-size: 16px;
	    transition: background-color 0.3s ease;
	}
	
	.custom-button-1:hover {
	    background-color: #aaa;
	    color: #f8f8f8;
	}
	
	.custom-button:hover {
	    background-color: #333;
	    color: #f8f8f8;
	}
	
	.image-container {
	    position: relative;
	    width: 100%;
	    height: 10vh;
	    overflow: hidden;
	}
	
	.img-overlay {
	    width: 100%;
	    height: 100%;
	    object-fit: cover;
	}
	
	.overlay-text {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    background-color: rgba(0, 0, 0, 0.5);
	    display: flex;
	    justify-content: center;
	    align-items: center;
	}
	
	.overlay-text p {
	    color: white;
	}
	
	.div-atras {
	    position: fixed;
	    top: 10%;
	    z-index: 1000;
	}
	
	.btn-atras {
	    height: 3rem;
	    width: 3rem;
	}
	
	.font-mobile {
	    font-size: 16px;
	}
	
	.carousel-inner img {
	    height: 50vh;
	    object-fit: cover;
	}
	
	.nav-item, .nav-link {
	    align-self: center;
	}
	
	.floating-bubble {
	    position: fixed;
	    bottom: 4%;
	    right: 43%;
	    background-color: #A9DCB7;
	    color: #fff;
	    border-radius: 50%;
	    border: solid 1px rgba(0,0,0,.125);
	    padding: 10px;
	    cursor: pointer;
	    transition: background-color 0.3s ease-in-out;
	}
	
	.floating-bubble:hover {
	    background-color: #DBF0E1;
	}
	
	.img-bubble {
	    height: 3rem;
	}
	
	.h5-username {
	    font-size: 100%;
	}
	
	.login-container {
	    max-width: 400px;
	    margin: 0 auto;
	    padding: 20px;
	    background-color: #fff;
	    border-radius: 8px;
	    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	}
	
	.login-title {
	    text-align: center;
	    font-size: 24px;
	    margin-bottom: 20px;
	}
	
	.form-group {
	    margin-bottom: 20px;
	}
	
	.register-link {
	    text-align: center;
	}
	
	.register-link a {
	    color: #000;
	    font-weight: 500;
	}
	
	.register-link a:hover {
	    color: #444;
	}
	
	.chat-container {
	    border: 1px solid #ccc;
	    border-radius: 5px;
	    padding: 10px;
	    max-width: 500px;
	    margin: 0 auto;
	    overflow-y: auto;
	    max-height: 400px;
	}
	
	.message {
	    margin-bottom: 10px;
	    padding: 10px;
	    border-radius: 10px;
	}
	
	.user-message {
	    background-color: #e2f7cb;
	    margin-right: 10px;
	    text-align: right;
	}
	
	.other-message {
	    background-color: #f2f2f2;
	    margin-left: 10px;
	}
	
	#chat-form {
	    margin-top: 20px;
	}
	
	.mensaje-div {
	    text-align: -webkit-center;
	    background-color: #CCE8D4;
	    padding: 1rem;
	    margin-left: 5%;
	    margin-right: 5%;
	}
	
	.error-div {
	    text-align: -webkit-center;
	    background-color: #E8D2CC;
	    padding: 1rem;
	    margin-left: 25%;
	    margin-right: 25%;
	}
	
	.inputFile_perfil input[type="file"] {
	    display: none;
	}
	
	.inputFile_perfil label {
	    background-color: #668bc5;
	    color: white;
	    padding: 10px 15px;
	    cursor: pointer;
	}
	
	.inputFile_perfil label::before {
	    content: "Buscar imagen";
	}
	
	#carousel2Controls .image-container {
	    position: relative;
	    height: 50vh;
	}
	
	#carousel2Controls .overlay {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    background-color: rgba(0, 0, 0, 0.7);
	}
	
	#carousel2Controls .carousel-caption a {
	    display: inline-block;
	    font-size: 1rem;
	    padding: 0.5rem 1rem;
	    background-color: white;
	    color: black;
	    border: none;
	    cursor: pointer;
	    text-decoration: none;
	    margin-top: 1rem;
	}
	
	@media (max-width: 768px) {
	    #carousel2Controls .carousel-caption {
	        padding: 0 1rem;
	        top: 35%;
	    }
	
	    #carousel2Controls .carousel-caption h1 {
	        font-size: 1.3rem;
	        margin-bottom: 0.5rem;
	    }
	
	    #carousel2Controls .carousel-caption p {
	        display: none;
	    }
	    .miTarjetaProducto {
		    width: 100%;
	        padding-left: 0rem;
			padding-right: 0rem;  
		}
	}
	
	@media (max-height: 730px) {
	    #carousel2Controls .carousel-caption p {
	        display: none;
	    }
	}
	
	@media (min-width: 768px) {
	    #carousel2Controls .carousel-caption {
	        position: absolute;
	        top: 50%;
	        left: 50%;
	        transform: translate(-50%, -50%);
	        text-align: center;
	        color: white;
	        padding: 0 3rem;
	    }
	
	    #carousel2Controls .carousel-caption h1 {
	        font-size: 2rem;
	        margin-bottom: 1rem;
	    }
	
	    #carousel2Controls .carousel-caption p {
	        font-size: 1rem;
	        margin-bottom: 1rem;
	    }
	    .miTarjetaProducto {
		    width: 100%;
	        padding-left: 17rem;
			padding-right: 17rem;  
		}
	}
	
	.download-section {
	    background-color: #fff;
	    text-align: center;
	    padding: 2rem 0;
	}
	
	.circle {
	    display: inline-block;
	    width: 16rem;
	    border-radius: 50%;
	    overflow: hidden;
	}
	
	.circle img {
	    width: 100%;
	    height: auto;
	    filter: brightness(0.98);
	}
	
	.download-text {
	    font-size: 1.3rem;
	    margin-bottom: 2rem;
	}
	
	.custom-button-apk {
	    background-color: #f8f8f8;
	    color: #333;
	    border: solid 1px rgba(0,0,0,.125);
	    border-radius: 5px;
	    padding: 10px 20px;
	    font-size: 1.3rem;
	    transition: background-color 0.3s ease;
	}
	
	.custom-button-apk:hover {
	    background-color: #333;
	    color: #f8f8f8;
	}
