<section sec:authorize="!hasRole('ADMIN')" class="mt-4 custom-section">
        <div class="row">
            <div class="col-md-4">
                <h2 class="custom-title">¿Necesitas ayuda?</h2>
                <h4 class="custom-subtitle">Accede a nuestro sistema de ayuda si tienes algún problema</h4>
                <a href="/ayuda" class="btn custom-button">Ayuda</a>
            </div>
            <div class="col-md-4 mt-5 mt-md-0">
                <h2 class="custom-title">Nuestra información</h2>
                <h4 class="custom-subtitle">Descubre toda la información que quieras sobre nosotros</h4>
                <a href="/conocenos" class="btn custom-button">Conócenos</a>
            </div>
            <div sec:authorize="!isAuthenticated()" class="col-md-4 mt-5 mt-md-0">
                <h2 class="custom-title">¿Aún no tienes cuenta?</h2>
                <h4 class="custom-subtitle">Solo las personas registradas pueden acceder a nuestros servicios</h4>
                <a href="/registrarse" class="btn custom-button">Regístrate</a>
            </div>
            <div sec:authorize="isAuthenticated()" class="col-md-4 mt-5 mt-md-0">
                <h2 class="custom-title">¿Quieres cambiar de cuenta?</h2>
                <h4 class="custom-subtitle">Desconéctate desde aquí</h4>
                <a href="/desconectarse" class="btn custom-button">Desconectarse</a>
            </div>
        </div>
    </section>

    <div class="image-container">
     <img src="img/imagen4.jpg" alt="Imagen" class="img-overlay">
     <div class="overlay-text">
       <p class="font-mobile">¡Únete ya a la red de donaciones de DONAPP!</p>
     </div>
    </div>

<footer class="bg-light text-center mt-4">
        <div class="container">
            <div class="footer-links">
                <a href="#">Política de Privacidad</a>
                <a href="#">Términos y Condiciones</a>
                <a href="#">Contáctanos</a>
            </div>
            <p class="copy mt-2">&copy; 2023 DONAPP. Todos los derechos reservados.</p>
        </div>
    </footer>
    <!-- Agrega los enlaces a jQuery y Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>