<nav class="navbar miNavbar navbar-expand-lg navbar-light bg-light">
    <img src="img/icon.png" style="width:2rem; height:2rem;">
    <a id="navbar" class="navbar-brand" href="/">DONAPP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link mt-2 mt-md-0" href="/">Inicio</a>
            </li>
            <li sec:authorize="hasRole('USER')" class="nav-item">
                <a class="nav-link mt-2 mt-md-0" href="/mercado">Mercado</a>
            </li>
            <li sec:authorize="hasRole('USER')" class="nav-item">
                <a class="nav-link mt-2 mt-md-0" href="/publicar">Publicar</a>
            </li>
            <li sec:authorize="hasRole('USER')" class="nav-item">
                <a class="nav-link mt-2 mt-md-0" href="/buscarUsuarios">Usuarios</a>
            </li>
            <li sec:authorize="hasRole('ADMIN')" class="nav-item">
            	<a class="nav-link mt-2 mt-md-0" href="/buscarUsuarios">Administrar Usuarios</a>
       		</li>
       		<li sec:authorize="hasRole('ADMIN')" class="nav-item">
            	<a class="nav-link mt-2 mt-md-0" href="/denuncias">Administrar Denuncias</a>
       		</li>
       		<li sec:authorize="hasRole('ADMIN')" class="nav-item">
            	<a class="nav-link mt-2 mt-md-0" href="/mercado">Administrar Productos</a>
       		</li>
       		<li sec:authorize="hasRole('ADMIN')" class="nav-item">
            	<a class="nav-link mt-2 mt-md-0" href="/conversaciones">Mensajes</a>
       		</li>
        </ul>
        <hr>
        <div class="navbar-nav ml-auto">
            <a sec:authorize="hasRole('USER')" href="/miPerfil" class="nav-link mt-1 mt-md-0">Perfil</a>
            <a sec:authorize="!isAuthenticated()" href="/iniciarsesion" class="nav-link mr-0 mr-md-2">Iniciar sesión</a>
            <a sec:authorize="!isAuthenticated()" href="/registrarse" class="nav-link mt-1 mt-md-0">Registrarse</a>
            <a sec:authorize="isAuthenticated()" th:href="@{/logout}" class="nav-link mt-1 mt-md-0">Desconectarse</a>
        </div>
    </div>
</nav>

<a sec:authorize="hasRole('USER')" class="linkFloating" href="/conversaciones" style="z-index:4000000; position: relative;">
        <div class="floating-bubble">
			<img class="img-bubble" src="img/iconChat.png">
        </div>
</a>

<script>
var floatingBubble = document.querySelector(".linkFloating");
if (floatingBubble !=null){
	if (window.location.href.indexOf("conversaciones") != -1){
		document.querySelector(".linkFloating").classList.add("d-none");
	} else {
		document.querySelector(".linkFloating").classList.remove("d-none");
	}
}
</script>