<!DOCTYPE html>
<html lang="es">
<head th:replace="~{fragments/header}" />
<body>

	<nav th:replace="~{fragments/navbar}" />
	
	<img class="miImg2 d-block w-100" src="img/login.jpg" alt="Login">
    <div class="container mt-4">
        <div class="row">
            <h2 class="text-center mb-4">Ayuda</h2>
            <hr>
            <div class="col-md-12 mb-4">
                <div class="card mb-3">
                    <div class="card-header">
                        <h4 class="mb-0">Mercado</h4>
                    </div>
                    <div class="card-body">
                        <p class="card-text">El mercado te permite ver los productos que otras personas están donando. Puedes utilizar filtros para encontrar productos específicos según tus necesidades.</p>
                    </div>
                </div>
                
                <div class="card mb-3">
                    <div class="card-header">
                        <h4 class="mb-0">Publicar tus propios productos</h4>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Puedes publicar tus propios productos para que otras personas puedan verlos y solicitarlos si están interesados.</p>
                    </div>
                </div>
                
                <div class="card mb-3">
                    <div class="card-header">
                        <h4 class="mb-0">Ver productos donados</h4>
                    </div>
                    <div class="card-body">
                        <p class="card-text">En esta sección puedes ver los productos que has donado anteriormente.</p>
                    </div>
                </div>
                
                <div class="card mb-3">
                    <div class="card-header">
                        <h4 class="mb-0">Ver productos publicados</h4>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Esta sección muestra los productos que has publicado para donar.</p>
                    </div>
                </div>
                
                <div class="card mb-3">
                    <div class="card-header">
                        <h4 class="mb-0">Ver productos adquiridos</h4>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Aquí puedes ver los productos que has adquirido a través de la aplicación.</p>
                    </div>
                </div>
                
                <div class="card mb-3">
                    <div class="card-header">
                        <h4 class="mb-0">Chat con otros usuarios</h4>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Utiliza la función de chat para comunicarte con otros usuarios y coordinar detalles de donaciones o adquisiciones.</p>
                    </div>
                </div>
                
                <div class="card mb-3">
                    <div class="card-header">
                        <h4 class="mb-0">Gestión del perfil</h4>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Administra tu perfil, actualiza tus datos personales desde esta sección.</p>
                    </div>
                </div>
                
                <div class="card mb-3">
                    <div class="card-header">
                        <h4 class="mb-0">Solicitudes de donación</h4>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Revisa las solicitudes de donación que has enviado y las que has recibido de otros usuarios.</p>
                    </div>
                </div>
                
                <div class="card mb-3">
                    <div class="card-header">
                        <h4 class="mb-0">Valoraciones de perfiles</h4>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Da y recibe valoraciones de otros usuarios para construir una comunidad confiable y segura.</p>
                    </div>
                </div>
                
                <div class="card mb-3">
                    <div class="card-header">
                        <h4 class="mb-0">Aplicación para Android</h4>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Descarga nuestra aplicación móvil para acceder a todas las funcionalidades desde tu dispositivo Android.</p>
                    </div>
                </div>
                
                <div class="card mb-3">
                    <div class="card-header">
                        <h4 class="mb-0">Denunciar a otros usuarios</h4>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Si encuentras comportamientos inapropiados o sospechosos, puedes denunciar a otros usuarios para mantener la seguridad en la comunidad.</p>
                    </div>
                </div>
                
                <div class="card mb-3">
                    <div class="card-header">
                        <h4 class="mb-0">Administración</h4>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Los administradores gestionan y supervisan la plataforma para garantizar su buen funcionamiento y resolver cualquier problema que surja.</p>
                    </div>
                </div>
            </div>
         </div>
    </div>
    
    <hr>
	
    <nav th:replace="~{fragments/footer}" />

</body>
</html>
