<!DOCTYPE html>
<html lang="es">
<head th:replace="~{fragments/header}" />
<body>

    <nav th:replace="~{fragments/navbar}" />
    
    <img class="miImg2 d-block w-100" src="img/login.jpg" alt="Login">
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12 mb-4">
                <h2>Conócenos</h2>
                <hr>
                <p>Correo de contacto: <a href="mailto:iyancm@gmail.com">iyancm@gmail.com</a> / <a href="mailto:uo264921@uniovi.es">uo264921@uniovi.es</a></p>
            </div>
        </div>
    </div>
    <hr>
    <nav th:replace="~{fragments/footer}" />

</body>
</html>
