<!DOCTYPE html>
<html lang="es">
<head th:replace="~{fragments/header}" />
<body>

    <nav th:replace="~{fragments/navbar}" />
    
    <img class="miImg2 d-block w-100" src="img/login.jpg" alt="Login">
    <div class="container mt-4">
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <h2 class="text-center mb-4">Política de privacidad</h2>
            <hr>
            <div class="col-md-10 offset-md-1">
                <p>Donapp respeta y valora tu privacidad. Esta política de privacidad describe cómo recopilamos, utilizamos y protegemos la información personal que puedas proporcionarnos a través de nuestra aplicación.</p>

                <h4>1. Información que recopilamos:</h4>
                <p>- Nombre de usuario: Solicitamos un nombre de usuario para identificar a los usuarios dentro de la aplicación.</p>
                <p>- Correo electrónico: Solicitamos una dirección de correo electrónico para facilitar la comunicación y la recuperación de la cuenta. Esta información se mantiene privada a menos que el usuario decida hacerla pública.</p>
                <p>- Contraseña: Solicitamos una contraseña que se encripta para proteger la seguridad de la cuenta del usuario.</p>

                <h4>2. Uso de la información:</h4>
                <p>- Utilizamos la información proporcionada para crear y mantener cuentas de usuario, así como para proporcionar acceso y funcionalidades dentro de la aplicación.</p>
                <p>- La dirección de correo electrónico se utiliza para enviar notificaciones importantes relacionadas con la cuenta y la aplicación, así como para fines de recuperación de la cuenta en caso de pérdida de acceso.</p>
                <p>- No recopilamos ni solicitamos detalles adicionales sobre información privada del usuario.</p>
                <p>- No almacenamos ni recopilamos información de ubicación u otros datos adicionales sobre el usuario.</p>
                <p>- En dispositivos Android, la aplicación puede solicitar acceso al almacenamiento para permitir la selección de imágenes desde el dispositivo.</p>

                <h4>3. Seguridad de la información:</h4>
                <p>- La contraseña del usuario se encripta para protegerla de accesos no autorizados.</p>
                <p>- Implementamos medidas de seguridad para proteger la información personal contra pérdidas, mal uso y acceso no autorizado.</p>

                <h4>4. Terceros y datos compartidos:</h4>
                <p>- No utilizamos pasarelas de pago ni solicitamos información bancaria a través de la aplicación.</p>
                <p>- No compartimos ni enviamos datos de usuarios a terceros sin el consentimiento explícito del usuario.</p>

                <h4>5. Cambios en la Política de Privacidad:</h4>
                <p>- Nos reservamos el derecho de actualizar o modificar esta política de privacidad en cualquier momento. Se notificarán los cambios importantes mediante una notificación dentro de la aplicación o a través de otros medios apropiados.</p>

                <p>Al utilizar nuestra aplicación, aceptas los términos y condiciones de esta política de privacidad. Si tienes alguna pregunta o inquietud sobre nuestra política de privacidad, no dudes en contactarnos a través de nuestros datos de contacto.</p>
            </div>
           </div>
        </div>
    </div>
    
    <hr>
    
    <nav th:replace="~{fragments/footer}" />

</body>
</html>
