<!DOCTYPE html>
<html lang="es">
<head th:replace="~{fragments/header}" />
<body>

    <nav th:replace="~{fragments/navbar}" />
    
    <img class="miImg2 d-block w-100" src="img/login.jpg" alt="Login">
    <div class="container mt-4">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <h2 class="text-center mb-4">Términos y condiciones</h2>
            <hr>
            <div class="col-md-10 offset-md-1">
                <h4>Clientes y administradores:</h4>
                <p>En nuestra aplicación, hay dos tipos de usuarios: clientes y administradores.</p>
                
                <h4>Interacciones de los clientes:</h4>
                <p>Los clientes pueden donarse y solicitarse productos, gestionar perfiles, productos y valoraciones.</p>
                
                <h4>Gestión de los administradores:</h4>
                <p>Los administradores gestionan denuncias, eliminan cuentas o productos si es necesario, y envían notificaciones generales por correo electrónico.</p>
                
                <h4>Responsabilidades de los usuarios:</h4>
                <p>Los usuarios son responsables de los productos que publican, de coordinar entregas y de los mensajes y valoraciones que escriben.</p>
                
                <h4>Uso de la aplicación:</h4>
                <p>Los usuarios pueden registrarse con un correo electrónico válido, pero no deben realizar actividades ilegales ni comerciales.</p>
                
                <h4>Resolución de disputas:</h4>
                <p>Los conflictos pueden resolverse utilizando la administración de la aplicación o poniéndose en contacto con nosotros.</p>
            </div>
        </div>
    </div>
</div>

    
    <hr>
    
    <nav th:replace="~{fragments/footer}" />

</body>
</html>
