<!DOCTYPE html>
<html lang="es">
<head th:replace="~{fragments/header}" />
<body>

    <nav th:replace="~{fragments/navbar}" />
    
    <section style="background-color:#668bc5; height:20vh"></section>
    
    <nav th:replace="~{fragments/atras}" />
    
    <div class="container mt-4">
        <form th:action="@{/buscarUsuarios}" method="get">
            <div class="form-group">
                <label for="busqueda">Introduce el nombre de usuario:</label>
                <input type="text" class="form-control" id="busqueda" name="nombre" placeholder="Escribe aquí">
            </div>
            <button type="submit" class="mt-2 btn custom-button">Buscar</button>
        </form>
    </div>
    
    <hr>
    
    <div class="mensaje-div" th:if=${param.usuarioEliminadoExito}>
    	Se ha eliminado al usuario correctamente.
    </div>
    
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-4 mb-4" th:each="usuario : ${usuarios}">
                <div class="card">
                    <img src="img/usuario.png" th:src="'data:image/jpeg;base64,' + ${usuario.fotoEncoded}" class="card-img-top" alt="User 1">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${usuario.username}"></h5>
                        <a th:href="${'/usuario/'+ usuario.id}" class="btn custom-button">Perfil</a>
                        <a th:href="${'/hablar/'+ usuario.id}" class="btn custom-button">Hablar</a>
                        <a sec:authorize="!hasRole('ADMIN')" href="#" class="btn custom-button">Denunciar</a>
                        <a sec:authorize="hasRole('ADMIN')" class="btn btn-danger" th:onclick="'confirmarEliminar(' + ${usuario.id} + ')'">Eliminar</a>
                    </div>
                </div>
            </div>
         </div>
    </div>
    
    <hr>
    
    <nav th:replace="~{fragments/footer}" />

    <script th:inline="javascript">
	    function confirmarEliminar(userId) {
	        var confirmacion = confirm('¿Estás seguro de que quieres eliminar este usuario?');
	        if (confirmacion) {
	            window.location.href = '/eliminarUsuario/' + userId;
	        }
	    }
	</script>


</body>
</html>
