<!DOCTYPE html>
<html lang="es">
<head th:replace="~{fragments/header}" />
<body>

	<nav th:replace="~{fragments/navbar}" />
	
	<section style="background-color:#668bc5; height:20vh"></section>
	
	<nav th:replace="~{fragments/atras}" />
	
    <div class="container mt-5">
        <div class="chat-container">
            <div class="message user-message">
                Hola, me interesa el abrigo
            </div>
            <div class="message other-message">
                Hola, ¡genial!
            </div>
            <!-- Agrega más mensajes aquí -->
        </div>

        <!-- Formulario para enviar mensajes -->
        <form id="chat-form">
            <div class="form-group">
                <input type="text" id="message-input" class="form-control" placeholder="Escribe tu mensaje...">
            </div>
            <div class="form-group text-right">
                <button type="submit" class="btn custom-button">Enviar</button>
            </div>
        </form>
    </div>

	
	<section style="background-color:#FFF; height:6vh"></section>
    <nav th:replace="~{fragments/footer}" />

</body>
</html>