<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donapp: Conversaciones</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="estilos/style.css">
</head>
<body>

	<nav th:replace="~{fragments/navbar}" />
	
	<section style="background-color:#C0D2EE; height:10vh"></section>
	
    <div class="container mt-4">
    <h2> Conversaciones </h2>

    </div>
    
    <hr>
	
    <nav th:replace="~{fragments/footer}" />

</body>
</html>