<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header}" />
<body>

    <nav th:replace="~{fragments/navbar}" />

    <section style="background-color:#668bc5; height:20vh"></section>

    <div class="container mt-5">
        <h2>Mis Conversaciones</h2>
        <ul class="list-group mt-4 mb-4">
            <div class="col-md-4 mb-4" th:if="${conversacionesIniciadas.empty and conversacionesSeguidas.empty}">
			    No hay conversaciones que mostrar
			</div>
            <li th:each="conversacion : ${conversacionesIniciadas}" class="list-group-item">
                <div class="media">
                    <!-- Puedes agregar la lógica para obtener la imagen del usuario desde tu modelo -->
                    <img src="img/usuario.png" th:src="'data:image/jpeg;base64,' + ${conversacion.usuario2.fotoEncoded}" class="mr-3 rounded-circle" alt="Foto de perfil del usuario" style="width: 64px; height: 64px;">
                    <div class="media-body" style="align-self: center;">
                        <a th:href="${'/chat/'+ conversacion.id}" class="h5-username" th:text="${conversacion.usuario2.username}"></a>
                        <div class="btn-group float-right" role="group">
                            <!-- Agrega la lógica para eliminar la conversación si es necesario -->
                            <a th:href="${'/borrar/'+ conversacion.id}" type="button" class="btn custom-button">X</a>
                        </div>
                    </div>
                </div>
            </li>
            <li th:each="conversacion1 : ${conversacionesSeguidas}" class="list-group-item">
                <div class="media">
                    <!-- Puedes agregar la lógica para obtener la imagen del usuario desde tu modelo -->
                    <img src="img/usuario.png" th:src="'data:image/jpeg;base64,' + ${conversacion1.usuario1.fotoEncoded}" class="mr-3 rounded-circle" alt="Foto de perfil del usuario" style="width: 64px; height: 64px;">
                    <div class="media-body" style="align-self: center;">
                        <a th:href="${'/chat/'+ conversacion1.id}" class="h5-username" th:text="${conversacion1.usuario1.username}"></a>
                        <div class="btn-group float-right" role="group">
                            <!-- Agrega la lógica para eliminar la conversación si es necesario -->
                            <a th:href="${'/borrar/'+ conversacion1.id}" type="button" class="btn custom-button">X</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <section style="background-color:#FFF; height:10vh"></section>
    <nav th:replace="~{fragments/footer}" />

</body>
</html>
