<!DOCTYPE html>
<html lang="es">
<head th:replace="~{fragments/header}" />
<body>

	<nav th:replace="~{fragments/navbar}" />
	
	<section style="background-color:#668bc5; height:20vh"></section>
	
	<nav th:replace="~{fragments/atras}" />
	
    <div class="container mt-5">
        <h2>Mis Conversaciones</h2>
        <ul class="list-group mt-4 mb-4">
            <!-- Ejemplo de conversación 1 -->
            <li class="list-group-item">
                <div class="media">
                    <img src="img/usuario.png" class="mr-3 rounded-circle" alt="Foto de perfil del usuario 1" style="width: 64px; height: 64px;">
                    <div class="media-body" style="align-self: center;">
                        <a href="/chat" class="h5-username">Nombre del Usuario</a>
                        <div class="btn-group float-right" role="group">
                            <button type="button" class="btn custom-button">X</button>
                        </div>
                    </div>
                </div>
            </li>

            <!-- Ejemplo de conversación 2 -->
            <li class="list-group-item">
                <div class="media">
                    <img src="img/usuario.png" class="mr-3 rounded-circle" alt="Foto de perfil del usuario 2" style="width: 64px; height: 64px;">
                    <div class="media-body" style="align-self: center;">
                        <a href="/chat" class="h5-username">Nombre del Usuario</a>
                        <div class="btn-group float-right" role="group">
                            <button type="button" class="btn custom-button">X</button>
                        </div>
                    </div>
                </div> 
            </li>
            <!-- Agrega más conversaciones aquí -->
        </ul>
    </div>

	
	<section style="background-color:#FFF; height:10vh"></section>
    <nav th:replace="~{fragments/footer}" />

</body>
</html>