<!DOCTYPE html>
<html lang="es">
<head th:replace="~{fragments/header}" />
<body>

    <nav th:replace="~{fragments/navbar}" />
    
    <img class="miImg d-block w-100" src="img/mercado.jpg" alt="Mercado">
    
    <nav th:replace="~{fragments/atras}" />

    <div class="mt-4 ml-4 mr-4">
      <form action="/mercado" method="get">
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <label for="busqueda">Buscar:</label>
                    <input type="text" class="form-control" id="busqueda" name="busqueda" placeholder="Escribe aquí">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="urgencia">Urgencia:</label>
                    <select class="form-control" id="urgencia" name="urgencia">
                        <option value="">Todas</option>
                        <option value="Alta">Alta</option>
                        <option value="Media">Media</option>
                        <option value="Baja">Baja</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="tipo">Tipo de objeto:</label>
                    <select class="form-control" id="tipo" name="tipo">
                        <option value="">Todos</option>
                        <option value="Ropa">Ropa</option>
                        <option value="Libros">Libros</option>
                        <option value="Electrónicos">Electrónicos</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="recogida">Tipo de recogida:</label>
                    <select class="form-control" id="recogida" name="recogida">
                        <option value="">Todos</option>
                        <option value="punto">En un punto</option>
                        <option value="domicilio">A domicilio</option>
                        <option value="correo">Por correo</option>
                    </select>
                </div>
            </div>
            <div class="col-md-1">
                <button class="mt-4 btn custom-button" type="submit">Buscar</button>
            </div>
        </div>
      </form>
    </div>
    
    <hr>
    <div sec:authorize="!hasRole('ADMIN')" class="error-div" th:if="${param.solicitudYaEnviada}">
            Ya has enviado una solicitud a ese producto.
        </div>
        <div class="mensaje-div" th:if="${param.exitoEliminandoProducto}">
            Producto eliminado con éxito
        </div>
    <div class="container mt-4">
        <div class="row">
            
            <div sec:authorize="!hasRole('ADMIN')" class="col-md-4 mb-4" th:if="${productos.empty}">
              No hay productos que mostrar
            </div>
        
            <div sec:authorize="!hasRole('ADMIN')" class="col-md-4 mb-4" th:each="producto : ${productos}" th:if="${producto.interesado == null}">
                <div class="card">
                    <img th:src="'data:image/jpeg;base64,' + ${producto.fotoEncoded}" class="card-img-top" alt="Producto 1">
                    <div class="card-body">
                        <h5 class="card-title"><span th:text="${producto.titulo}"> </span></h5>
                        <p class="card-text">Publicado por: <a th:href="${'/usuario/'+ producto.usuario.id}"><span th:text="${producto.usuario.username}"> </span></a></p>
                        <p class="card-text">Urgencia: <span th:text="${producto.urgencia}"> </span></p>
                        <a th:href="${'/producto/'+producto.id}" class="btn custom-button">Ver Más</a>
                        <a th:href="${'/solicitar/'+producto.id}" class="btn custom-button">Solicitar</a>
                    </div>
                </div>
            </div>
            
            <div sec:authorize="hasRole('ADMIN')" class="col-md-4 mb-4" th:each="producto : ${productos}" th:if="${producto.interesado == null}">
                <div class="card">
                    <img th:src="'data:image/jpeg;base64,' + ${producto.fotoEncoded}" class="card-img-top" alt="Producto 1">
                    <div class="card-body">
                        <h5 class="card-title"><span th:text="${producto.titulo}"> </span></h5>
                        <p class="card-text">Publicado por: <a th:href="${'/usuario/'+ producto.usuario.id}"><span th:text="${producto.usuario.username}"> </span></a></p>
                        <p class="card-text">Urgencia: <span th:text="${producto.urgencia}"> </span></p>
                        <a th:href="${'/producto/'+producto.id}" class="btn custom-button">Ver Más</a>
                        <a th:href="${'/eliminarProducto/'+producto.id}" class="btn btn-danger">Eliminar producto</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    
    <hr>
    
    <nav th:replace="~{fragments/footer}" />

</body>
</html>
