<!DOCTYPE html>
<html lang="es">
<head th:replace="~{fragments/header}" />
<body>

	<nav th:replace="~{fragments/navbar}" />
	
	<img class="miImg d-block w-100" src="img/mercado.jpg" alt="Mercado">
	
	<nav th:replace="~{fragments/atras}" />

	<div class="mt-4 ml-4 mr-4">
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <label for="busqueda">Buscar:</label>
                    <input type="text" class="form-control" id="busqueda" placeholder="Escribe aquí">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="urgencia">Urgencia:</label>
                    <select class="form-control" id="urgencia">
                        <option value="">Todas</option>
                        <option value="alta">Alta</option>
                        <option value="media">Media</option>
                        <option value="baja">Baja</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="tipo">Tipo de objeto:</label>
                    <select class="form-control" id="tipo">
                        <option value="">Todos</option>
                        <option value="ropa">Ropa</option>
                        <option value="libros">Libros</option>
                        <option value="electrónicos">Electrónicos</option>
                        <!-- Agrega más opciones según sea necesario -->
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="recogida">Tipo de recogida:</label>
                    <select class="form-control" id="recogida">
                        <option value="">Todos</option>
                        <option value="punto">En un punto</option>
                        <option value="domicilio">A domicilio</option>
                        <option value="correo">Por correo</option>
                        <!-- Agrega más opciones según sea necesario -->
                    </select>
                </div>
            </div>
            <div class="col-md-1">
        <button class="mt-4 btn custom-button">Buscar</button>
        </div>
      </div>
    </div>
    
    <hr>
    <div class="container mt-4">
        <div class="row">
        
        	<div class="col-md-4 mb-4" th:if="${productos.empty}">
        	  No hay productos que mostrar
        	</div>
        
            <div class="col-md-4 mb-4" th:each="producto : ${productos}">
                <div class="card">
                    <img th:src="'data:image/jpeg;base64,' + ${producto.fotoEncoded}" class="card-img-top" alt="Producto 1">
                    <div class="card-body">
                        <h5 class="card-title"><span th:text="${producto.titulo}"> </span></h5>
                        <p class="card-text">Publicado por: <a href="/usuario"><span th:text="${producto.usuario.username}"> </span></a></p>
                        <p class="card-text">Urgencia: <span th:text="${producto.urgencia}"> </span></p>
                        <a th:href="${'/producto/'+producto.id}" class="btn custom-button">Ver Más</a>
                        <a href="#" class="btn custom-button">Solicitar</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    
    <hr>
	
    <nav th:replace="~{fragments/footer}" />

</body>
</html>