<!DOCTYPE html>
<html lang="es">
<head th:replace="~{fragments/header}" />
<body>

	<nav th:replace="~{fragments/navbar}" />
	
	<img class="miImg2 d-block w-100" src="img/publicados.jpg" alt="Productos">
	
	<nav th:replace="~{fragments/atras}" />
	
    <div class="container mt-4">
        <h2> Mis publicaciones </h2>
        <div class="row">
        
        	<div class="col-md-4 mb-4" th:if="${productos.empty}">
        	  No hay productos que mostrar
        	</div>
        
            <div class="col-md-4 mb-4" th:each="producto : ${productos}">
            
            	<div class="card">
                    <img th:src="'data:image/jpeg;base64,' + ${producto.fotoEncoded}" class="card-img-top" alt="Producto 1">
                    <div class="card-body">
                        <h5 class="card-title"><span th:text="${producto.titulo}"> </span></h5>
                        <p class="card-text">Publicado por: <a href="/usuario"><span th:text="${producto.usuario.username}"> </span></a></p>
                        <p class="card-text">Urgencia: <span th:text="${producto.urgencia}"> </span></p>
                        <a th:href="${'/producto/'+producto.id}" class="btn custom-button">Ver Más</a>
                    </div>
                </div>
                
            </div>
            
        </div>
    </div>
    
    <hr>
	
    <nav th:replace="~{fragments/footer}" />

</body>
</html>