<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donapp: Productos publicados</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="estilos/style.css?version=51">
</head>
<body>

	<nav th:replace="~{fragments/navbar}" />
	
	<img class="miImg2 d-block w-100" src="img/publicados.jpg" alt="Productos">
	
    <div class="container mt-4">
    <h2> Mis publicaciones </h2>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="img/producto.jpg" class="card-img-top" alt="Producto 1">
                    <div class="card-body">
                        <h5 class="card-title">Nombre del Producto 1</h5>
                        <p class="card-text">Publicado por: Usuario 1</p>
                        <p class="card-text">Urgencia: Alta</p>
                        <a href="/producto" class="btn btn-primary">Ver Más</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="img/producto.jpg" class="card-img-top" alt="Producto 2">
                    <div class="card-body">
                        <h5 class="card-title">Nombre del Producto 2</h5>
                        <p class="card-text">Publicado por: Usuario 2</p>
                        <p class="card-text">Urgencia: Media</p>
                        <a href="/producto" class="btn btn-primary">Ver Más</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="img/producto.jpg" class="card-img-top" alt="Producto 3">
                    <div class="card-body">
                        <h5 class="card-title">Nombre del Producto 3</h5>
                        <p class="card-text">Publicado por: Usuario 3</p>
                        <p class="card-text">Urgencia: Baja</p>
                        <a href="/producto" class="btn btn-primary">Ver Más</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <hr>
	
    <nav th:replace="~{fragments/footer}" />

</body>
</html>