<!DOCTYPE html>
<html lang="es">
<head th:replace="~{fragments/header}" />
<body>

	<nav th:replace="~{fragments/navbar}" />
	
	<section style="background-color:#668bc5; height:20vh"></section>
	
	<nav th:replace="~{fragments/atras}" />
	
    <div class="container miTarjetaProducto mt-4">
        <div class="card">
            <img style="width:100%" th:src="'data:image/jpeg;base64,' + ${foto}" class="card-img-top" alt="Usuario">
            <div class="card-body">
                <h5 class="card-title"><b th:text="${usuario.username}"></b></h5>
                <p class="card-text"><b>Biografía:</b> <span th:text="${usuario.descripcion}"> </span> </p>
                <a href="/chat" class="btn custom-button">Hablar</a>
                <a href="#" class="btn custom-button">Denunciar</a>
            </div>
        </div>
    </div>
    
    <hr>
    
    <div class="container mt-4">
        <h2>Productos del usuario</h2>
        <div class="row">
            <div class="col-md-4 mb-4" th:each="producto : ${productos}">
                <div class="card">
                    <img th:src="'data:image/jpeg;base64,' + ${producto.fotoEncoded}" class="card-img-top" alt="Producto 1">
                    <div class="card-body">
                        <h5 class="card-title"><span th:text="${producto.titulo}"> </span></h5>
                        <p class="card-text">Urgencia: <span th:text="${producto.urgencia}"> </span></p>
                        <a th:href="${'/producto/'+producto.id}" class="btn custom-button">Ver Más</a>
                        <a th:href="${'/solicitar/'+producto.id}" class="btn custom-button">Solicitar</a>
                    </div>
                </div>
            </div>
        </div>
     </div>
      
     <hr>
	
    <nav th:replace="~{fragments/footer}" />

</body>
</html>